.hero-section {
  min-height: 300px;
  height: 50vh; /* Se adapta al alto de la pantalla */
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero-section {
    height: 300px;
  }
}

.card-title {
  white-space: normal;
  word-break: break-word;
  font-size: 1rem;
  min-width: 0;
}

.card {
  min-width: 180px;
  max-width: 100%;
}

.add-to-cart {
  width: 100%;
}